$font-text-light: 'Telefonica-Light';
$font-text-regular: 'Telefonica-Regular';
$font-text-bold: 'Telefonica-Bold';
$font-text-hand: 'Telefonica-Hand';
$font-text-extralight: 'Telefonica-ExtraLight';

$font-MovistarText: 'MovistarText';
$font-MovistarHeadline: 'MovistarHeadline';
$font-MovistarMarket: 'MovistarMarket';

$blue: #00385d;

//Header
$bar-width: 30px;
$bar-height: 4px;
$bar-spacing: 8px;
$menuMobile-W: 48px;
$menuMobile-H: 35px;
//Footer
