extends extends/base

block header
  include includes/header

block content
  //- include sections/test
  //- include sections/equiposHogar
  include sections/firebase

block footer
  //- include includes/footer
