@media (min-width: 1600px) {
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .header {
    .hamburger-menu{
      display: block;
    }
    .nav {
      position: absolute;
      right: -240px;
      top: 0;
      width: 240px;
      padding-top: 20px;
      background-color: #ffffff;
      z-index: 100;
      &.horizontal{
        right: 0;
        bottom: 0;
        top: 100%;
        width: 100%;
        padding: 0;
        background-color: transparent;
        height: 0;
        overflow: hidden;
        &:before{
          display: none;
        }
        ul{
          box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.6);
        }
        li{
          padding: 2% 10px;
          background-color: #ffffff;
        }
      }
      .menu-link{
        &.active {
          color: $blue;
        }
        display: block;
        color: $blue;
        opacity: 1;
        text-align: center;
      }
      li {
        display: block;
        margin: 0;
        padding: 6% 10px;
        border-top: 1px solid #d3d5d6;
        &:first-child {
          border-top: 0;
        }
      }
    }
    .logo {
      width: auto;
      img {
        opacity: 0;
        max-width: 260px;
      }
      .link{
        width: $menuMobile-W;
        height: $menuMobile-H;
        &:before {
          opacity: 1;
          width: $menuMobile-W;
          height: $menuMobile-H;
        }
      }
    }
  }
}

@media (max-width: 640px){
}

@media (max-width: 320px){
}
